{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore": "Information"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5433;Database=moviereservation;Username=postgres;Password=postgres"
  },
  "JwtSettings": {
    "SecretKey": "SuperSecretKey_MovieReservation_2026_MustBe32CharsLong!",
    "Issuer": "MovieReservation.API",
    "Audience": "MovieReservation.Client",
    "ExpirationInMinutes": 1440
  }
}
